<div style="display: flex; justify-content: center; width: 99vw; text-align: center; font-size: x-large;">
  <div style="margin-top: 2em; width: 200px; border: 10px; border-color: black;">
    <img src={{team.crestUrl}}>
    <div>{{team.name}}</div>
    <div>{{team.tla}}</div>
    <div>{{team.area.name}}</div>
    <div>{{team.website}}</div>
    <div>{{team.email}}</div>
    <a href="./">
      <div style="background-color: blue; color: aliceblue;">Back to List</div>
    </a>
  </div>
</div>